<!doctype html>
<html>
    <head>
        <title>{% block title %}MakersBnB{% endblock %}</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.3/dist/basecoat.cdn.min.css"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.3/dist/js/all.min.js"
            defer
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.3/dist/js/basecoat.min.js"
            defer
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.3/dist/js/toast.min.js"
            defer
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
        </style>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
        />
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <section
            id="header"
            class="flex flex-row p-3 justify-between items-center h-[76px] sticky top-0 z-50"
        >
            <a href="/">
                <div class="flex items-center mx-6 my-2 cursor-pointer">
                    <img
                        src="./static/assets/IMG_8796.jpg"
                        alt="MakersBnB Logo"
                        class="h-8"
                    />
                    <h2 id="logo" class="text-3xl font-bold mx-2">MakersBnB</h2>
                </div>
            </a>
            <div id="header-session-controls" class="flex gap-4 mx-10">
                <!-- TODO: Conditional logic for signed in user-->
                {% if user %}
                <a class="underline-offset-4 hover:underline" href="/listings"
                    >Listings</a
                >
                <a class="underline-offset-4 hover:underline" href="/bookings"
                    >Bookings</a
                >
                <a class="underline-offset-4 hover:underline" href="/logout"
                    >Sign Out</a
                >
                {% else %}
                <a class="underline-offset-4 hover:underline" href="/"
                    >Sign In</a
                >
                {% endif %}
            </div>
        </section>
        <main>{% block content %} {% endblock %}</main>
    </body>
</html>
