<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bookings | MakersBnB</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    {% extends "base.html" %} {% block title %}Bookings | MakersBnB{% endblock %} {%
    block content %}
    <h1>Bookings I have made</h1>
    {% for booking in outbound_bookings %}
    <div>
        ID: {{booking.id}}
        Start date: {{booking.start_date}}
        End date: {{booking.end_date}}
        Listing ID: {{booking.listing_id}}
        Guest ID: {{booking.guest_id}}
        Status: {{booking.status}}
    </div>
    {% endfor %}
    <h1>Pending booking requests</h1>
    {% for booking in inbound_bookings %}
    <div>
        ID: {{booking.id}}
        Start date: {{booking.start_date}}
        End date: {{booking.end_date}}
        Listing ID: {{booking.listing_id}}
        Guest ID: {{booking.guest_id}}
        Status: {{booking.status}}
    </div>
    {% endfor %}
    {% endblock %}
</html>
