<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Listings | MakersBnB</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    </head>
    {% extends "base.html" %} {% block title %}Listings | MakersBnB{% endblock
    %} {% block content %}
    <div class="flex items-center justify-center h-[calc(100vh-76px)]">
        <div class="flex flex-col items-center translate-y-[calc(-76px/2)]">
            <h2 class="text-5xl font-bold text-center mb-20">Listings</h2>
            <section class="grid grid-cols-3 gap-4">
                {% for listing in listings %}
                <div
                    class="card w-85 h-min flex flex-col justify-end shadow-2xl rounded-2xl cursor-pointer transition-transform transition-shadow duration-[220ms] ease-[cubic-bezier(.22,.94,.16,1)] will-change-[transform,box-shadow] hover:-translate-y-[6px] hover:scale-[1.01] hover:shadow-[0_20px_40px_rgba(75,75,75,0.32)]"
                    id="{{listing.id}}"
                    onclick="document.getElementById('listing-{{listing.id}}-dialog').showModal()""
                >
                    <header>
                        <h3 class="truncate">{{listing.title}}</h3>
                        <p class="truncate">{{listing.description}}</p>
                    </header>
                    <section class="px-0">
                        <img
                            alt="MakersBNB listing image"
                            loading="lazy"
                            width="200"
                            height="200"
                            class="w-85 object-fill"
                            style="color: transparent"
                            srcset="
                                https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?w=800&dpr=2&q=80&w=640&q=75  1x,
                                https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?w=800&dpr=2&q=80&w=1080&q=75 2x
                            "
                            src="https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?w=800&dpr=2&q=80&w=1080&q=75"
                        />
                    </section>
                    <footer class="flex items-center gap-2">
                        <span class="badge-outline">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="M2 4v16" />
                                <path d="M2 8h18a2 2 0 0 1 2 2v10" />
                                <path d="M2 17h20" />
                                <path d="M6 8v9" />
                            </svg>
                            1
                        </span>
                        <span class="badge-outline">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="M10 4 8 6" />
                                <path d="M17 19v2" />
                                <path d="M2 12h20" />
                                <path d="M7 19v2" />
                                <path
                                    d="M9 5 7.621 3.621A2.121 2.121 0 0 0 4 5v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5"
                                />
                            </svg>
                            2
                        </span>
                        <span class="badge-outline">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="m12 8 6-3-6-3v10" />
                                <path
                                    d="m8 11.99-5.5 3.14a1 1 0 0 0 0 1.74l8.5 4.86a2 2 0 0 0 2 0l8.5-4.86a1 1 0 0 0 0-1.74L16 12"
                                />
                                <path d="m6.49 12.85 11.02 6.3" />
                                <path d="M17.51 12.85 6.5 19.15" />
                            </svg>
                            350m²
                        </span>
                        <span class="ml-auto font-medium tabular-nums">
                            £{{listing.price_per_night}} / night
                        </span>
                    </footer>
                </div>

                <dialog
                    id="listing-{{listing.id}}-dialog"
                    class="dialog w-full max-h-[612px]"
                    aria-labelledby="listing-{{listing.id}}-title"
                    aria-describedby="listing-{{listing.id}}-description"
                    onclick="if (event.target === this) this.close()"
                >
                    <div class="p-0">
                        <header class="p-8 pb-2">
                            <h2 id="listing-{{listing.id}}-title">
                                {{listing.title}}
                            </h2>
                            <p id="listing-{{listing.id}}-description">
                                {{listing.description}}
                            </p>
                            <div class="flex items-center gap-2 pt-2">
                                <span class="badge-outline">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path d="M2 4v16" />
                                        <path d="M2 8h18a2 2 0 0 1 2 2v10" />
                                        <path d="M2 17h20" />
                                        <path d="M6 8v9" />
                                    </svg>
                                    1
                                </span>
                                <span class="badge-outline">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path d="M10 4 8 6" />
                                        <path d="M17 19v2" />
                                        <path d="M2 12h20" />
                                        <path d="M7 19v2" />
                                        <path
                                            d="M9 5 7.621 3.621A2.121 2.121 0 0 0 4 5v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5"
                                        />
                                    </svg>
                                    2
                                </span>
                                <span class="badge-outline">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path d="m12 8 6-3-6-3v10" />
                                        <path
                                            d="m8 11.99-5.5 3.14a1 1 0 0 0 0 1.74l8.5 4.86a2 2 0 0 0 2 0l8.5-4.86a1 1 0 0 0 0-1.74L16 12"
                                        />
                                        <path d="m6.49 12.85 11.02 6.3" />
                                        <path d="M17.51 12.85 6.5 19.15" />
                                    </svg>
                                    350m²
                                </span>
                                <span class="ml-auto font-medium tabular-nums">
                                    £{{listing.price_per_night}} / night
                                </span>
                            </div>
                        </header>

                        <img
                            alt="MakersBNB listing image"
                            loading="lazy"
                            width="min-w-full"
                            height="200"
                            class="object-cover"
                            style="color: transparent"
                            srcset="
                                https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?w=800&dpr=2&q=80&w=640&q=75  1x,
                                https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?w=800&dpr=2&q=80&w=1080&q=75 2x
                            "
                            src="https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?w=800&dpr=2&q=80&w=1080&q=75"
                        />

                        <footer class="pb-12">
                            <form>
                                <input type="date-local" placeholder="Select date and time" />
                            </form>

                            <button
                                class="btn-outline"
                                onclick="this.closest('dialog').close()"
                            >
                                Cancel
                            </button>
                            <button
                                class="btn"
                                onclick="this.closest('dialog').close()"
                            >
                                Save changes
                            </button>
                        </footer>

                        <button
                            type="button"
                            aria-label="Close dialog"
                            onclick="this.closest('dialog').close()"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-x-icon lucide-x"
                            >
                                <path d="M18 6 6 18" />
                                <path d="m6 6 12 12" />
                            </svg>
                        </button>
                    </div>
                </dialog>
                {% endfor %}
            </section>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            flatpickr("input[type=date-local]", {
            // Selects a range of dates
            mode: "range",
            inline: true,

            // Other settings
            dateFormat: "Y-m-d",
            });
        });
    </script>

    {% endblock %}
</html>
